<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Home</title>
    <link href="img/favicon.png" rel="icon" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <script defer src="script.js"></script>
</head>
<body>

<!-- Header Start -->
<header class="header">
    <img class="logo" alt="Developer's Bakery" src="img/logo.png" />
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="index.html">Home</a></li>
            <li><a class="main-nav-link" href="menu.html">Menu</a></li>
        </ul>
    </nav>
</header>
<!-- Header End -->

<!-- Main Section Start -->
<main>
    <!-- Hero Section Start -->
    <section class="section-hero">
        <div class="hero">
            <div class="hero-text-box">
                <h1 class="heading-primary">Developer's Bakery</h1>
                <p class="hero-description">You can also make delicious cakes & brownies made by our Ch<span class="i-red">i</span>ef Developer, Rahul!!</p>
            </div>
            <div class="hero-img-box">
                <picture>
                    <img src="img/home-cake.jpg" class="hero-img" alt="Home Cake">
                </picture>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
</main>
<!-- Main Section End -->

<!-- Footer Section Start -->
<footer class="footer">
    <div class="footer-container">
        <p class="copyright"><span class="year"></span></p>
    </div>
</footer>
<!-- Footer Section End -->

</body>
</html>