<!-- Header Start -->
<header aria-label="Site header" class="header" id="header">
    <img class="logo" alt="Developer's Bakery" src="img/logo.png" />
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="index.html">{{ page.navigation }}</a></li>
        </ul>
    </nav>
</header>
<!-- Header End -->

<!-- Main Section Start -->
<main>
    <!-- Hero Section Start -->
    <section class="section-hero" id="section-hero">
        <div class="hero" id="hero">
            <div class="hero-text-box">
                <h1 class="heading-primary">{{ page.heading }}</h1>
                <p class="hero-description">{{ page.content }}</p>
            </div>
            <div class="hero-img-box">
                <picture>
                    <img src="img/home-cake.jpg" class="hero-img" alt="Home Cake">
                </picture>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
</main>
<!-- Main Section End -->

<!-- Footer Section Start -->
<footer aria-label="Site footer" class="footer" id="footer">
    <div class="footer-container">
        <p class="copyright">{{ page.footer }}<span class="year"></span></p>
    </div>
</footer>
<!-- Footer Section End -->