<!-- Header Start -->
<header aria-label="Site header" class="header" id="header">
    <img class="logo" alt="Developer's Bakery" src="img/logo.png" />
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="index.html">{{ page.navigation }}</a></li>
        </ul>
    </nav>
</header>
<!-- Header End -->

<!-- Main Section Start -->
<main>
	<!-- Recipe List Section Start -->
	<div class="recipes-container" id="recipes-container">
		<section class="section-recipes">
			<h5 class="heading-recipe">Type 1</h5>
			<hr/>
			<div class="recipes-row">
				<figure class="recipes-item">
					<a href="recipe.html">
						<img src="" class="recipes-img" alt="Recipe 1">
					</a>
					<figcaption>
						<a href="recipe.html" class="recipes-name">{{ page.content }}</a>
					</figcaption>
				</figure>
			</div>
		</section>
		<section class="section-recipes">
			<h5 class="heading-recipe">Type 2</h5>
			<hr/>
			<div class="recipes-row">
				<figure class="recipes-item">
					<a href="recipe.html">
						<img src="" class="recipes-img" alt="Recipe 1">
					</a>
					<figcaption>
						<a href="recipe.html" class="recipes-name">{{ page.content }}</a>
					</figcaption>
				</figure>
			</div>
		</section>
	</div>
	<!-- Recipe List Section End -->
</main>
<!-- Main Section End -->

<!-- Footer Section Start -->
<footer aria-label="Site footer" class="footer" id="footer">
    <div class="footer-container">
        <p class="copyright">{{ page.footer }}<span class="year"></span></p>
    </div>
</footer>
<!-- Footer Section End -->