<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Menu</title>
	<link href="img/favicon.png" rel="icon" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <script defer src="script.js"></script>
</head>
<body>

<!-- Header Start -->
<header class="header">
    <img class="logo" alt="Developer's Bakery" src="img/logo.png" />
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="index.html">Home</a></li>
            <li><a class="main-nav-link" href="menu.html">Menu</a></li>
        </ul>
    </nav>
</header>
<!-- Header End -->

<!-- Main Section Start -->
<main>
	<!-- Recipe List Section Start -->
	<div class="recipes-container">
		<section class="section-recipes">
			<h5 class="heading-recipe">Type 1</h5>
			<hr/>
			<div class="recipes-row">
				<figure class="recipes-item">
					<a href="recipe.html">
						<img src="" class="recipes-img" alt="Recipe 1">
					</a>
					<figcaption>
						<a href="recipe.html" class="recipes-name">Recipe 1 Type 1</a>
					</figcaption>
				</figure>
				<figure class="recipes-item">
					<a href="recipe.html">
						<img src="" class="recipes-img" alt="Recipe 2">
					</a>
					<figcaption>
						<a href="recipe.html" class="recipes-name">Recipe 2 Type 1</a>
					</figcaption>
				</figure>
			</div>
		</section>
		<section class="section-recipes">
			<h5 class="heading-recipe">Type 2</h5>
			<hr/>
			<div class="recipes-row">
				<figure class="recipes-item">
					<a href="recipe.html">
						<img src="" class="recipes-img" alt="Recipe 1">
					</a>
					<figcaption>
						<a href="recipe.html" class="recipes-name">Recipe 1 Type 2</a>
					</figcaption>
				</figure>
				<figure class="recipes-item">
					<a href="recipe.html">
						<img src="" class="recipes-img" alt="Recipe 2">
					</a>
					<figcaption>
						<a href="recipe.html" class="recipes-name">Recipe 2 Type 2</a>
					</figcaption>
				</figure>
			</div>
		</section>
	</div>
	<!-- Recipe List Section End -->
</main>
<!-- Main Section End -->

<!-- Footer Section Start -->
<footer class="footer">
    <div class="footer-container">
        <p class="copyright"><span class="year"></span></p>
    </div>
</footer>
<!-- Footer Section End -->

</body>
</html>