<!-- Header Start -->
<header aria-label="Site header" class="header" id="header">
    <img class="logo" alt="Developer's Bakery" src="img/logo.png" />
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="index.html">{{ page.navigation }}</a></li>
        </ul>
    </nav>
</header>
<!-- Header End -->

<!-- Main Section Start -->
<main>
	<!-- Recipe Image Section Start -->
	<section class="recipe-section" id="recipe-section">
		<div class="recipe-container">
			<div class="recipe-title">
				<h2>Recipe Name</h2>
				<hr/>
			</div>
			<div class="recipe-detail">
				<div class="recipe-img">
					<img src="" alt="Recipe Name">
				</div>
				<div class="recipe-ingredients">
					<h4>Ingredients</h4>
					<div class="ingredient">
						<ion-icon name="caret-forward-outline" class="arrow-icon"></ion-icon>
						<label>{{ page.content }}</label>
					</div>
				</div>
				<div class="recipe-instructions">
					<h4>Instructions</h4>
					<div class="instructions">
						<ion-icon name="caret-forward-outline" class="arrow-icon"></ion-icon>
						<label>{{ page.content }}</label>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Recipe Image Section End -->
</main>
<!-- Main Section End -->

<!-- Footer Section Start -->
<footer aria-label="Site footer" class="footer" id="footer">
    <div class="footer-container">
        <p class="copyright">{{ page.footer }}<span class="year"></span></p>
    </div>
</footer>
<!-- Footer Section End -->

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>